# Node modules
node_modules/

# Environment variables
.env

# Build directories
dist/
build/

# IDE specific files
.vscode/
.idea/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Server uploads
server/uploads/

# Vite cache
.vite/